h1{
	text-align: center;
	letter-spacing: 2px;
	font-family: Georgia;
	text-indent: 20px;
	color: Brown;
}

h5{
	text-align: center;
	font-family: Georgia;
	color: Black;
}

h4{
	padding-left: 300px;
	padding-top: 5px;
	color: Black;
	font-family: Georgia;
}

#hi{
	text-align: center;
	color: black;
	padding-left: 580px;
	transform: scale(2);	
}
#ah{
	text-align: center;
	color: black;
	padding-left: 280px;
	
}
#ho{
	text-align: center;
	color: black;
	padding-left: 250px;
	
}


#yo{
	text-align: center;
	color: black;
	padding-left : 100px;	
}

#hoy{
	
	color: black;
	padding-left: 100px;	
}

#first{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;

}

#second{
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	float: left;
	
}


#yay{
	clear: right;
	color: Brown;
	font-size: 50px;
}

#luh{
	text-index: 60px;
	font-size: 20px;
	clear: right;
	line-height: 40px;
	
}

#uhm{
	text-index: 60px;
	font-size: 20px;
	clear: left;
	line-height: 40px;
	
}

li{
	font-weight: bold;	
	
}
ul{
	text-index: 60px;
	font-size: 20px;
	line-height: 40px;
		
	
}


p{
	clear: right;
	font-size: 20px;
	vertical-align: middle;
}

body{
	background-color: #FFE4C4;
	
}

h2{
	text-align: center:
	margin-top: 40px;
	text-indent: 200px;
	color: Brown;

}

#hello{
	text-indent: 200px;
	clear: right;
	
}

#third{
	
	text-align: center:
	margin-top: 40px;
	text-indent: 600px;
	color: Brown;
}

#fourth{
	margin:30px;
}

#jk{
	clear:left;
	color: Brown;
	font-size: 50px;
}

#hi:link {
  color: red;
}


#hi:visited {
  color: orange;
}


#hi:hover {
  color: pink;
}


#hi:active {
  color: orange;
}

#yo:link {
  color: red;
}


#yo:visited {
  color: orange;
}


#yo:hover {
  color: pink;
}


#yo:active {
  color: orange;
}

#hoy:link {
  color: red;
}


#hoy:visited {
  color: orange;
}


#hoy:hover {
  color: pink;
}


#hoy:active {
  color: orange;
}

#ah:link {
  color: red;
}


#ah:visited {
  color: Orange;
}


#ah:hover {
  color: pink;
}


#ah:active {
  color: orange;
}

#ho:link {
  color: red;
}


#ho:visited {
  color: Orange;
}


#ho:hover {
  color: pink;
}


#ho:active {
  color: orange;
}

audio{
	padding-top: 20px;
}


video:hover{
	transform: scale(1.25);
	etransition-duration: 0.5s;
	transition-timing-funtion: ease-in-out;
}


.arrow {
	background: url('images/arrowssprite.jpg') no-repeat -190px -62px;
	width: 62px;
	height: 63px;
	margin-left:600px;
	
}
.yes{
	margin-left: 200px;
	
}

.audio{
	margin-left:100px;
	
}

video{
	float:left;
	clear:right;
	margin-left: 60px;
	margin-right: 10px;
}

#hut{
	clear:right;
	float:left;
	margin: 30px;
}
#matter{
	float:right;
	clear:left:
	margin:25px;
}

#jk{
	clear:right;
}

a[target="_blank"] {
text-decoration-line: underline;
}

*::selection{
	background-color: DarkSalmon;
}

footer{
	background-image: url("images/taketwo.avif");
	background-size: cover;
}

h3{
	text-align: center;
	color: #ff6347;
}

button{
	position:absolute;
	left: 50%;
	 transform: translateX(-70%);
}

.b{
	margin-left: 640px;
}

 .correct {
            background-color: #4CAF50; /* Green for correct answers */
        }
 .incorrect {
            background-color: #f44336; /* Red for incorrect answers */
        }
.quiz-container{
	text-align: center;
	
	line-height: 2;
	font-family: Garmond;
}






























